flask==0.12.2
falcon==1.4.1
nltk==3.2.5
langdetect==1.0.7
flask-cors==3.0.3
chardet==3.0.4
idna==2.6
requests==2.18.4
stripe==1.79.1
beautifulsoup4==4.6.0
bs4==0.0.1
selenium==3.11.0
tweepy==3.6.0
oauthlib==2.0.7
PySocks==1.6.8
requests-oauthlib==0.8.0
boto3==1.7.0
imutils==0.4.6
opencv-python==4.2.0.32
elasticsearch==6.2.0
scikit-image==0.13.1
