# LIBRARY REQUIREMENTS AND VERSIONS 
# python 2.7 needs to be installed
# Autoload requires magick++, easiest installed on a unix-based platform
# The program that is required is ImageMagick
# Go to: https://www.imagemagick.org/script/download.php
# Homebrew or Macports is recommended

# Homebrew installation + pkgs required for autoload (Magick++)

# /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
# brew install graphicsmagick
# brew install boost-python


# INITIAL REQUIRED LIBRARIES

django==1.11




# LIBRARIES NEEDED FOR SAPIE.SPACE 
# fuzzywuzzy==0.15.0
# python-Levenshtein==0.12.0
# mrjob==0.5.10
# djangoappengine==1.7.1
# monkeylearn==0.3.7
# python-dateutil==2.6.0
# twitter==1.17.1
# tweepy==3.5.0
# wheel==0.30.0a0
# brew install graphicsmagick
# brew install boost-python
# pgmagick==0.6.5
# autoload==0.0.1
