django==1.9
fuzzywuzzy==0.15.0
python-Levenshtein==0.12.0
mrjob==0.5.10
djangoappengine==1.7.1
django-appengine-utils==0.1.0
monkeylearn==0.3.7
python-dateutil==2.6.0
twitter==1.17.1
tweepy==3.5.0
wheel==0.38.1
pgmagick==0.6.5 
autoload==0.0.1
