{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
  <h1>Hello</h1>
  <p>Welcome to Sapie Space</p>
    <h2 class="search-title">Find Influencers</h2>

    <form action="{% url 'influencers' %}">
    <div class="search-container">
        <label for="id_search_term"></label><input type="search" id="id_search_term" name="search_term" autocomplete="off">
	    <div class="search-container-search-icon"><i class="fa fa-search"></i></div>
    </div>
    <button id="search_btn">Search</button>
    </form>
</div>
</div>
</div>
{% endblock %}