* {
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #3d3d3d;
    --white-color: #ffffff;
    --light-color: #efefef;
    --primary-color: #204D74;
    --secondary-color: #c2c2c2;
    --info-color: #e6f8ff;
    --muted-color: #fbfbfb;

    --button-radius: 3px;
}

html, body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    color: #3d3d3d;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.hide-flex-sm { display: flex; }
.hide-flex-md { display: flex; }

@media screen and (max-width: 800px) {
    .hide-flex-sm { display: none; }
}

@media screen and (max-width: 1000px) {
    .hide-flex-md { display: none; }
}

*::placeholder {
    font-style: italic;
}