<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Influencer</title>
</head>
<body>
<ul>
    <li><form method="GET" action="/sapie_alpha/influencer_data/seo.csv/"><input type="submit" value="SEO" /></form></li>
    <li><form method="GET" action="/sapie_alpha/influencer_data/marketing/csv/"><input type="submit" value="Marketing" /></form></li>
    <li><form method="GET" action="/sapie_alpha/influencer_data/leadership/csv/"><input type="submit" value="Leadership" /></form></li>

</ul>
</body>
</html>